!!!
%html
  %head
    %title WildberryJAM
    %meta{:charset => "utf-8"}/
    %meta{:content => "NodeRed behind NAT", :name => "description"}/
    %meta{:content => "miminashi", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "", :rel => "stylesheet"}/
    %link{:href => "", :rel => "shortcut icon"}/
  %body
    %h1 WildberryJAM
    = yield
    / SCRIPTS

